.bdy{
    background-color: white;
}

.btn-primary{
    background-color: #d2e902;
    color: white;
    border: none;
    font-weight: bold;

}
.btn-success{
    background-color: #1E1EBA;
    color: white;
    border: none;
    font-weight: bold;
}
.btn-success:hover{
    background-color: #0d0d7a;
}